<% content_for :page_title, "Edit SHG Loan" %>
<section class="panel"><div class="panel-header"><div><p class="eyebrow">CRP Loan Form</p><h2>Edit SHG Loan</h2></div></div><%= render "form" %></section>
