<% content_for :page_title, "Add Visit" %>

<section class="panel">
  <div class="panel-header">
    <div><p class="eyebrow">Visit Work</p><h2>Add Visit</h2></div>
  </div>
  <%= render "form" %>
</section>
